@model day100two.ViewModel.UserClientViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>@Model.item.itemName</h1>
<h1>@Model.user.userName</h1>

@foreach (var itemo in Model.Items)
{
    <li>@itemo.itemName</li>
}
<hr />


<form asp-action="Index" method="get">
    <div><input type="text" placeholder="Filter" name="searchString"/>
     <input type="submit" value="Filter"/>
    <a asp-action="Index">Remove Filter</a>
    </div>
</form>

<table border="1">

   


    <tr>
        <th><a asp-action="Index" asp-route-sortOder="@ViewBag.itemParam">Item name</a></th>
         <th><a asp-action="Index" asp-route-sortOder="@ViewBag.itemParam">user name</a></th>
    </tr>

    @foreach (var item in Model.Items)
    {
<tr>

    <td>@item.itemName</td>

</tr>
    }

    </table>

